<!DOCTYPE html>
<html>
<head>
    <title>SUCODER - Java Code Generator</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <style>
        body {
      background-image: url(/images/SUCODER.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    </style>

</head>
<body>
<header>
    <br>
    <h1 align="center" style="color:white">Bienvenido a SUCODER</h1>
</header>
<div class="container">

    <hr><br>
    <div class="row align-items-stretch g-4 py-5">
    <form action="/redirectToProcedimiento" method="get">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <button class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" type="submit">Crear Procedimiento</button>
                    </div>
                </div>
            </div>
    </form><br>
    <form action="/redirectToCodigo" method="get">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <button class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" type="submit">Crear Código Principal</button>
                </div>
            </div>
        </div>

    </form>
</div>
</div>

<script src="js/bootstrap.min.js"></script>

</body>
</html>