<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SUCODER</title>
    <style>
    .progress-bar {
      width: 400px;
      height: 20px;
      background-color: #f2f2f2;
      border-radius: 4px;
      margin-bottom: 20px;
    }

    .progress {
      height: 100%;
      width: 0;
      background-color: #4CAF50;
      border-radius: 4px;
    }

    .form-step {
      display: none;
    }

    .form-step.active {
      display: block;
    }
  </style>
</head>
<body>
<H1>SUCODER</H1>
<h2>Java Code Generator</h2>

<div class="progress-bar">
    <div class="progress" id="progress"></div>
</div>

<form id="codeGeneratorForm">
    <div class="form-step active" id="step1">
        <h3>Paso 1: Estructura de Control</h3><hr>
        <h3>1. Seleccionar Estructura</h3>
        <label>
            <input type="radio" name="structure" value="if"> SI
        </label><br>
        <label>
            <input type="radio" name="structure" value="while"> MIENTRAS
        </label><br>
        <label>
            <input type="radio" name="structure" value="do"> HACER
        </label><br><br><br>
        <button type="button" onclick="nextStep()">Siguiente</button>
    </div>



    <div class="form-step" id="step2">
        <h3>Paso 2: Atributos </h3><hr>
        <h3>2. Atributo 1</h3>
        <label for="attribute1Name">2.1 Nombre:</label><br>
        <input type="text" id="attribute1Name" name="attribute1Name" required><br><br>
        <label for="attribute1Value">2.2 Valor:</label><br>
        <input type="text" id="attribute1Value" name="attribute1Value" required><br><br>
        <label for="attribute1Type">2.3 Tipo:</label><br>
        <input type="text" id="attribute1Type" name="attribute1Type" required><br><br>

        <h3>3. Atributo 2</h3>
        <label for="attribute2Name">3.1 Nombre:</label><br>
        <input type="text" id="attribute2Name" name="attribute2Name" required><br><br>
        <label for="attribute2Value">3.2 Valor:</label><br>
        <input type="text" id="attribute2Value" name="attribute2Value" required><br><br>
        <label for="attribute2Type">3.3 Tipo:</label><br>
        <input type="text" id="attribute2Type" name="attribute2Type" required><br><br>

        <h3>4. Operador de Comparador</h3>
        <select id="comparisonOperator" name="comparisonOperator">
            <option value="==">Igual (==)</option>
            <option value="!=">Distinto (!=)</option>
            <option value="&gt;">Es Mayor (>)</option>
            <option value="&lt;">Es Menor (<)</option>
            <option value="&gt;=">Mayor o Igual (>=)</option>
            <option value="&lt;=">Menor o Igual (<=)</option>
        </select><br><br><br><br>

        <button type="button" onclick="previousStep()">Anterior</button>
        <button type="button" onclick="nextStep()">Siguiente</button>
    </div>

    <div class="form-step" id="step3">
        <h3>Paso 3: Definir Mensaje</h3><hr>
        <h3>5. ¿La Condición es Verdadera?</h3>

        <div class="input-group">
            <label>
                <input id="radioButton1" type="radio" name="messageOption" onclick="toggleInputFields()"> Si
            </label>
        </div>

        <div class="input-group">
            <label>
                <input id="radioButton2" type="radio" name="messageOption" onclick="toggleInputFields()"> No
            </label>
        </div><br>

        <div class="input-group">
            <label for="trueMessage" id="label1" style="display:none;">Mensaje: </label>
            <input type="text" id="trueMessage" name="trueMessage" style="display:none;"><br><br>
        </div>

        <div class="input-group">
            <label for="elseMessage" id="label2" style="display:none;">Mensaje si la Condición no es Verdadera:</label>
            <input type="text" id="elseMessage" name="elseMessage" style="display:none;"><br><br>
        </div>

        <button type="button" onclick="previousStep()">Anterior</button>
        <button type="button" onclick="nextStep()">Siguiente</button>
    </div>

    <div class="form-step" id="step4">
        <h3>Paso 4: Detalles Finales</h3><hr>

        <p>Al hacer click en el botón "Generar Código", se desplegará una nueva ventana, mostrando el código JAVA definido por el usuario.
        </p><br>

        <button type="button" onclick="previousStep()">Anterior</button>
        <button type="button" onclick="generateCode()">Generar Código</button>

        <!-- Add a textarea for displaying the generated code -->
        <textarea id="generatedCode" rows="10" cols="50" readonly></textarea>
    </div>

    </div>

    <!-- SI Modal -->
    <div class="modal fade" id="siModal" tabindex="-1" role="dialog" aria-labelledby="siModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="siModalLabel">SI</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="attribute1">Variable 1</label>
                        <select id="attribute1" name="attribute1" onchange="toggleOtherInput('attribute1')">
                            <option value="-">-</option>
                            <option value="other">Other</option>
                            <!-- Dropdown options will be dynamically added here -->
                        </select>
                    </div><br>
                    <div class="form-group" id="attribute1InputContainer" style="display: none;">
                        <label for="attribute1Input">Attribute 1 Value</label>
                        <input type="text" id="attribute1Input" name="attribute1Input">
                    </div>
                    <div class="form-group">
                        <label for="attribute2">Variable 2</label>
                        <select id="attribute2" name="attribute2" onchange="toggleOtherInput('attribute2')">
                            <option value="-">-</option>
                            <option value="other">Other</option>
                            <!-- Dropdown options will be dynamically added here -->
                        </select>
                    </div><br>
                    <div class="form-group" id="attribute2InputContainer" style="display: none;">
                        <label for="attribute2Input">Attribute 2 Value</label>
                        <input type="text" id="attribute2Input" name="attribute2Input">
                    </div>
                    <div class="form-group">
                        <label for="comparisonOperation">Operador de Comparación</label>
                        <select id="comparisonOperation" name="comparisonOperation">
                            <option value="==">Igual (==)</option>
                            <option value="!=">Distinto (!=)</option>
                            <option value=">">Es Mayor (>)</option>
                            <option value="<">Es Menor (<)</option>
                            <option value=">=">Mayor o Igual (>=)</option>
                            <option value="<=">Menor o Igual (<=)</option>
                            <!-- Add more options if needed -->
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Condiciones</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Verdadera</label>
                        <button class="btn btn-primary" data-bs-target="#modalVerdadero" data-bs-toggle="modal" data-bs-dismiss="modal">IMPRIMIR</button>
                    </div><br>
                    <div class="form-group">
                        <label>Falsa</label>
                        <button class="btn btn-primary" data-bs-target="#modalFalso" data-bs-toggle="modal" data-bs-dismiss="modal">IMPRIMIR</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-target="#siModal" data-bs-toggle="modal" data-bs-dismiss="modal">Anterior</button>
                    <button type="button" class="btn btn-primary">Guardar Condición "SI"</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalVerdadero" aria-hidden="true" aria-labelledby="modalVerdadero" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Imprimir Mensaje</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="trueConditionStatements">Mensaje si es Verdadero:</label>
                        <input type="text" id="trueConditionStatements" name="trueConditionStatements" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalFalso" aria-hidden="true" aria-labelledby="modalFalso" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Imprimir Mensaje</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="trueConditionStatements">Mensaje si es Falso:</label>
                        <input type="text" id="falseConditionStatements" name="falseConditionStatements" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    let currentStep = 1;
    const progressBar = document.getElementById('progress');

    function nextStep() {
      document.getElementById(`step${currentStep}`).classList.remove('active');
      currentStep++;
      document.getElementById(`step${currentStep}`).classList.add('active');
      updateProgressBar();
    }

    function previousStep() {
      document.getElementById(`step${currentStep}`).classList.remove('active');
      currentStep--;
      document.getElementById(`step${currentStep}`).classList.add('active');
      updateProgressBar();
    }

    function updateProgressBar() {
      progressBar.style.width = `${(currentStep - 1) * 33.33}%`;
    }

    function toggleInputFields() {
      var trueMessage = document.getElementById("trueMessage");
      var elseMessage = document.getElementById("elseMessage");
      var radioButton1 = document.getElementById("radioButton1");

      if (radioButton1.checked) {
        label1.style.display = "block";
        trueMessage.style.display = "block";
        label2.style.display = "none";
        elseMessage.style.display = "none";
      } else {
        label1.style.display = "none";
        trueMessage.style.display = "none";
        label2.style.display = "block";
        elseMessage.style.display = "block";
      }
    }

        function generateCode() {
  // Retrieve the selected values from the form
  const structure = document.querySelector('input[name="structure"]:checked').value;
  const attribute1Name = document.getElementById('attribute1Name').value;
  const attribute1Value = document.getElementById('attribute1Value').value;
  const attribute1Type = document.getElementById('attribute1Type').value;
  const attribute2Name = document.getElementById('attribute2Name').value;
  const attribute2Value = document.getElementById('attribute2Value').value;
  const attribute2Type = document.getElementById('attribute2Type').value;
  const comparisonOperator = document.getElementById('comparisonOperator').value;
  const trueMessage = document.getElementById('trueMessage').value;
  const elseMessage = document.getElementById('elseMessage').value;

  // Generate the Java code based on the selected values
  let javaCode = "";

  if (structure === "if") {
    javaCode += "if (" + attribute1Value + " " + comparisonOperator + " " + attribute2Value + ") {\n";
    javaCode += "    System.out.println(\"" + trueMessage + "\");\n";
    javaCode += "} else {\n";
    javaCode += "    System.out.println(\"" + elseMessage + "\");\n";
    javaCode += "}";
  }

  // Update the value of the textarea with the generated code
  const generatedCodeTextarea = document.getElementById('generatedCode');
  generatedCodeTextarea.value = javaCode;
}

  </script>
</body>
</html>